set realname = "Александр Павлов"
set from = zt@yandex.ru
set use_from = yes

set imap_user = zet@yandex.ru
set imap_pass = 
set smtp_url = smtps://zet@smtp.yandex.ru:465/
set smtp_pass = 
set smtp_authenticators = 'login'

set ssl_starttls = yes
set ssl_force_tls = yes

set folder = imaps://imap.yandex.ru:993
set spoolfile = +INBOX
set postponed = +[Gmail]/Drafts
set record = =Отправленные


